<div>
  <h1>New Menu_item</h1>
  <form method='POST' action='/menu_items/create'>
  
      <p>name:
        <input name='name'><br>
  
      <p>description:
        <input name='description'><br>
  
      <p>price:
        <input name='price'><br>
  
      <p>meal_type:
        <input name='meal_type'><br>
          <input type='submit'>
    </form>
</div>