* insert header
<h1>Posts</h1>
<ul>
    <p> # This feature will iteate over the <%= @name_singular %> saved objects
    <p> # ISSUE: generating an ERB with yet to be created instance variable names
    <p> # TEMP FIX: Please see index_note.txt
</ul>
* insert footer