 <%%= erb :header %>

<div>
  <h1>New <%= @name_singular.capitalize %></h1>
  <form method='POST' action='/<%= @name_plural %>/create'>
  <% @attributes.each do |attribute| %>
      <p><%= attribute.capitalize %>:
        <input name='<%= attribute %>'><br>
  <% end -%>
        <input type='submit'>
    </form>
</div>

 <%%= erb :footer %>