<link rel="stylesheet" href="/styles/main.css">

<nav>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="//new">Create new </a>
    </li>
    <li>
       <a href="/">List & Edit </a>
    </li>
  </ul>
</nav>
