<%= erb :header %>
<div>
  <h2>User Signup with E-mail:</h2>
    <form method='POST' action='/user/create'>
      <h2>Email</h2>
        <input name='email'><br>
        <input type='submit'>
    </form>
</div>
<%= erb :footer %>