<div>
  <h1>New Resturant</h1>
  <form method='POST' action='/resturants/create'>
  
      <p>name:
        <input name='name'><br>
  
      <p>location:
        <input name='location'><br>
  
      <p>manager:
        <input name='manager'><br>
          <input type='submit'>
    </form>
</div>