 <%%= erb :header %>
 
<link rel="stylesheet" href="/styles/main.css">

<section>
    <h1><%= @name_singular %></h1>
    <h1>Getting Started with mynatra</h1>
    <p>This is the home page of mynatra
    <p>Please come again!
</section>

 <%%= erb :footer %>
