<h1>Menus</h1>
    <% @menus.each do |menu| %>
        <li><a href="/menus/<%= menu.id %>"><%= menu.id %></a></li>
        <ul>
        
            <li>meal: <%= menu.meal %></li>
        
        </ul>
    <% end %>
</ul>